*{
    margin: 0;
    padding: 0;
}
/* shared styles */

/*banner styles*/
.banner-container{
    height: 100vh;
    width: 100%;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.banner-img{
    width: 600px;
    height: 750px;
    padding-top: 70px;
   
    
}

.banner-title{
    font-size: 70px;
    font-weight: bold;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.btn-primary{
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: white;
    font-size: 20px;

}